{% extends "base.html" %}
{% load static %}
{% block title %}Home{% endblock %}
{% block css %}
<style>
    .container{
    display: flex;
    justify-content: center;
    align-items: center;    
    flex-direction: column;
    margin-top: 100px;

}
.heading{
    text-align: left;
    width: 50%;
    font-size: 25px;
    font-style: italic;
}
.para{
    margin-top: 50px;
    text-align: left;
    width: 50%;
    font-size: 18px;
    line-height: 35px;
    
}
.para2{
    margin-top: 30px;
}
a{
    color: #00b49f;
    font-size: 20px;
    text-align: left;
}
.links{
    margin-top: 30px;
    text-align: left;
    width: 50%;
}
@media (max-width: 768px) {
    .para, .para2{
        font-size: 20px;
        width: 75%;
        line-height: 35px;   
    }
    .heading{
        width: 75%;
    }
    
}
</style>
{% endblock %}
{% block content %}
<div class="container">
    <div class="heading">

        <h1>Hi!</h1>
    </div>
    <div class="para">

        <p>I'm Sambhav Acharya. I am a secondary school student, a <a href="https://www.linkedin.com/in/sambhav-acharya-8183a134a/">Cloud/DevOps specialist</a> and a web developer. I'm currently working as a Server Manager at a company. </p>
    </div>
    <div class="links">
        <a href="https://www.linkedin.com/in/sambhav-acharya-8183a134a/">LinkedIn</a> / 
        <a href="https://github.com/sambhavacharyaa">GitHub</a>
    </div>
    <p class="para para2">
        I'm particularly interested in Cloud Computing and DevOps, web development and I'm currently learning Django.
    </p>
</div>
{% endblock %}
